{
    "extends": "angular",
    "plugins": [
        "angular"
    ],
    "rules": {
        "angular/service-name": [0],
        "angular/no-service-method": [0],
        "angular/controller-name": [2, "/[A-Z].*Ctrl$/"]
    },
    "settings": {
        "angular": 1
    }
}